#p3{
	color: yellow;
}

* {
	font-family: Verdana, sans-serif;
}

h1{
	font-size: 80px;
}

#h2{
	text-transform: uppercase;
}

.list1{
	background-color: #aed0a1;
}

li[type="1"]{

	border-width: 2px;
	width: 90%;
	border-style: solid;
	border-color: #99b1cf;
}

img + ul {
	list-style-type: none;
}

body img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

h4 ~ p{
	text-align: center;
}

section > ul {
	letter-spacing: 10px;
}